@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
body {
    /* background-color: #F5F8FA; */
}
body, .ui.header, p {
    font-family: 'Roboto', sans-serif !important;
}

.solution {
    font-weight: 300 !important;
    font-size: 2em !important;
    margin-top: 5px !important;
}

.legacy {
    text-align: left;
    color: white;
    font-size: 0.85em;
    background: #435977;
    position: absolute;
    top:0;
    z-index: 100;
    width: 100%;
    padding: 8px;
    text-align: center;
}
.legacy a:any-link {
    color: white;
    text-decoration: underline;
}

.features.ui.vertical.segment {
    background-color: #F5F8FA;
}

.borderless {
    border: 0px !important;
}



.home.ui.vertical.segment {
    /* background-image: linear-gradient(-179deg, #129EE6 0%, #3366CC 100%); */
    background-image: url("/connect.png") ;       
    background-repeat: repeat;
}

.how.ui.vertical.segment {
    background-image: linear-gradient(-221deg, #368BC8 0%, #478FDE 85%, #4A90E2 100%);
}

#stripes,#stripes span{
    position:absolute;
}
#stripes {
    width:100%;
    height:100%;
    top: 0;
    overflow: hidden;
    transform:skewY(-12deg);
    transform-origin:0;
    background:linear-gradient(150deg,#53f 12%,#218FFF 80%);
}

#skew {
    transform:skewY(12deg);
    transform-origin:1;
    width:100%;
    height:90%;
    top: -6%;
    position: absolute;
    background:#218FFF;
    display: block;
}

#stripes span{
    height:40px;
}
#stripes :nth-child(1){
    width:50%;
    left:50%;
    top:40px;
    background:#4c29ff;
}
#stripes :nth-child(2){
    width:14%;
    right:0;
    bottom:40px;
    background:#2be7ff;
}
#stripes :nth-child(3){
    width:25%;
    bottom:0;
    right:0;
    background:#a1ffc8;
}

@media (min-width:670px){
    #stripes span{
        height:150px;
    }
    #stripes :nth-child(1){
        top:0;
        background:#4750ff;
    }
    #stripes :nth-child(2){
        width:16.66667%;
        top:300px;
        bottom:auto;
        background:#0dcfff;
    }
    #stripes :nth-child(3){
        width:33.33333%;
        right:auto;
        background:#11bdff;
    }
}

@media (min-width:880px){
    #stripes span{
        height:190px;
    }
    #stripes :nth-child(1){
        width:33.33333%;
        left:-16.66666%;
        background:#53f;
    }
    #stripes :nth-child(2){
        width:33.33333%;
        top:0;
        left:16.66666%;
        right:auto;
        background:#4553ff;
    }
    #stripes :nth-child(3){
        width:33.33333%;
        left:49.99999%;
        bottom:auto;
        background:#4f40ff;
    }
    #stripes :nth-child(4){
        width:33.33333%;
        top:380px;
        right:-16.66666%;
        background:#25ddf5;
    }
    #stripes :nth-child(5){
        width:33.33333%;
        bottom:-10%;
        height: 60%;
        background:#218FFF;
    }
}

.gradient {
    /* background:  linear-gradient(-90deg, #129EE6 0%, #3366CC 99%) !important; */
    background: #3A506B !important;
    background-image: url("/white-line-bg.svg") !important;
    background-repeat: repeat-y !important;
    background-position: center !important;
    border-bottom: 0px solid #4085DE !important;
}

.gradient .right {
    box-shadow: 0px 0 0 0 !important;
}

.benifits .ui.header {
    margin-top:0;
    margin-bottom: 1.2rem;
}
.benifits .icon {
    float: left;
    padding-right: 10px;
}
.benifits .ui.grid>.row {
     padding-bottom: 5rem; 
}

.footer.ui.vertical.segment {
    background-color: #EBF1F5;
}


.ui.secondary.pointing.menu {
    border-bottom: none !important;
}
.ui.secondary.pointing.menu .active.item {
    border-color: #1B263F !important;
}
.ui.button {
    /*border-radius: 2rem !important;*/
    font-weight: normal !important;
    color: #FFFFFF;
    background: #20bdba;
}
.ui.button:hover {
    background: #20bdba;
}
.ui.inverted.button {
    background: #FFFFFF;
    color: #333;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50) !important;
}
.ui.primary.button, .ui.primary.buttons .button {
    background-color: #20bdba; 
}
.ui.primary.button:hover, .ui.primary.button:active {
    background: #20bdba;
}

.floating {
    position: fixed;
    bottom: 25px;
    left: 25px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: .28rem;
}
.langbuttons {
    border-radius: .28rem;
    overflow: hidden;
    border: 0px solid #435977; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30) !important;
}
.langbuttons .ui.button {
    border-radius: 0 !important;
}

.langbuttons .primary {
    border: 0px !important;
}

.lang {display: none}
.eng .lang.eng {
    display: inline-block;
}
.geek .lang.geek {
    display: inline-block;
}

.calculator {
    width: 94%;
    padding: 0rem;
    background-color: #435977;
    margin: 1rem;
    margin-top: 4.3rem;
    border-radius: 3px !important;
    color: #fff;
    text-align: left;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.40) !important;
}

.calculator .sliders {
    padding-left: 2rem;
    padding-right: 2rem;
}

.calculator .sliders .label {
    float: right;
    background-color: #fff;
}

.calculator .slider {
    border: 0px solid #fff;
    padding-bottom: 2rem;
}

.calculator .sliders .segment {
    border: 0px;
    border-radius: 4rem;
    height: 3.7rem !important;
    width: 3.7rem !important;
    font-size: 1rem;
    line-height: 1.8rem;
    text-align: center;
}

.calculator .sliders.last {
    margin-bottom: 1rem;
}

.calculator .header {
    color: #FFF;
    padding: 1rem;
    padding-bottom: 0;
}

.calculator .total {
    background: #FFF;
    margin-top: 0 !important;
    margin: 0 !important;
    margin-top: 1rem;
    color: #333;
    padding: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;  
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;  
}

.calculator .total .figure {
    color: #F49C20;
    font-size: 2rem;
}

.rheostat {
    overflow: visible;
    margin-top: 1rem;
  }
  
  .rheostat-background {
    background-color: #fcfcfc;
    border: 0px solid #d8d8d8;
    height: 4px;
    border-radius: 2px;
    position: relative;
  }
  
  .rheostat-progress {
    background-color: #abc4e8;
    position: absolute;
  }
  
  .rheostat-handle {
    background-color: transparent;
    border: 0px solid #d8d8d8;
    border-radius: 20%;
    height: 24px;
    outline: none;
    z-index: 2;
    width: 24px;
    position: absolute;
    margin-top: -13px;
    margin-left: -5px;
    background-image: url('/hexagon.svg');
    background-size: cover;
  }
  
  .rheostat-handle:before,
  .rheostat-handle:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #dadfe8;
  }

.logo {
    width: 150px;
    padding-top: 12px;
}

@media only screen and (max-device-width : 640px) {
    .careers-link {
        display: none !important;
    }

    .community {
        display: none !important;
    }

    .home {
        padding-top: 3rem !important;
    }

    .logo {
        padding-top: 0 !important;
    }

    .dimmer {
        margin-top: 0 !important;
    }

    .dimmer .modal {
        position: static !important;
        margin: 0 !important;
        margin-top: 10px !important;
        width: auto !important;
    }
}